extends layout

block content
  h3 Miners
  p Miners in Ellaism network for the past week.
  table.table
    thead
      tr
        th Address
        th Weekly Blocks
        th Real-time Miners
        th Real-time Hashrate
    tbody
      for miner in miners
        tr
          td
            a(href="/account/" + miner.address) #{nameformatter.format(miner.address)}
          td #{miner.minedWeek}
          td #{formatMinersTotal(miner)}
          td #{formatMinersHashrate(miner)}
